<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title> Оновити запис </title>
  <link rel="stylesheet" href="../stylesheets/animate.css" type="text/css" />
  <link rel="stylesheet" href="../stylesheets/authorise.css" type="text/css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../stylesheets/authorise.css" type="text/css" />
</head>


<body class="text-center">
  <form class="form-signin" action='/editFormation/<%= id %>' method='POST' autocomplete="off">
    <h1 class="h3 mb-3 font-weight-normal">Додати формування</h1>
    <label class="sr-only">Тип</label>
    <select name = "type" class="form-control" required="true">
      <% for (let [key, value] of Object.entries(types)) { %>
        <option <% if (type == key) { %> selected <% } %> value="<%= key %>"><%= value %></option>
      <% } %>
    </select>

    <label class="sr-only">Найменування формування</label>
    <input name = "name" value="<%=  name %>" class="form-control" placeholder="Найменування формування" required="true" autofocus="">

    <label class="sr-only">Керівний Склад</label>
    <textarea name="executives" class="form-control" placeholder="Керівний Склад" required="true" rows="3"><%= executives %></textarea>

    <label class="sr-only">Адреса</label>
    <input name = "residence_address" value="<%=  residence_address %>" class="form-control" placeholder="Адреса" required="true">

    <label class="sr-only">Телефон</label>
    <input name = "phone_number" value="<%=  phone_number %>" class="form-control" placeholder="Телефон" required="true" autofocus="">

    <label class="sr-only">Мета діяльності</label>
    <input name = "activity_purpose" value="<%=  activity_purpose %>" class="form-control" placeholder="Мета діяльності" required="true" autofocus="">

    <label class="sr-only">Статус</label>
    <input name = "status" value="<%=  status %>" class="form-control" placeholder="Статус" autofocus="">

    <label class="sr-only">Рєстраційний Номер</label>
    <input name = "registration_certificate_id" value="<%=  registration_certificate_id %>" class="form-control" placeholder="Рєстраційний Номер" required="true" autofocus="">

    <label class="sr-only">Вид Структурного Осередку</label>
    <input name = "structural_cell_type" value="<%=  structural_cell_type %>" class="form-control" placeholder="Вид Структурного Осередку" autofocus="">

    <label class="sr-only">Охоплюєма територія</label>
    <input name = "affected_teritory" value="<%=  affected_teritory %>" class="form-control" placeholder="Охоплюєма територія" autofocus="">

    <label class="sr-only">Кількість Учсаників Формування</label>
    <input name = "members_amount" value="<%=  members_amount %>" class="form-control" placeholder="Кількість Учсаників Формування" required="true" autofocus="">

    <label class="sr-only">Відомості Про Третейських Суддів</label>
    <input name = "arbitrages" value="<%=  arbitrages %>" class="form-control" placeholder="Відомості Про Третейських Суддів" autofocus="">

    <button class="btn btn-lg btn-primary btn-block" type="submit">Редагувати</button>
    <p class="mt-5 mb-3 text-muted">© 2020</p>
  </form>
</body>
</html>
