<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title> Реєстрація </title>
  <link rel="stylesheet" href="../stylesheets/animate.css" type="text/css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../stylesheets/authorise.css" type="text/css" />
</head>

<body class="text-center" style="">
    <form class="form-signin" action='/register' method='POST' enctype="multipart/form-data">
      <h1 class="h3 mb-3 font-weight-normal">Реєстрація</h1>
      <label class="sr-only">Емейл</label>
      <input name="email" value="<%=  email %>" type="text" class="form-control" placeholder="Емейл" required="">

      <label for="inputPassword" class="sr-only">Пароль</label>
      <input type="password" value="<%=  password %>" name="password" class="form-control" placeholder="Пароль" required="">

      <label class="sr-only">Ім'я</label>
      <input name="name"  value="<%=  name %>" type="text" class="form-control" placeholder="Ім'я" required="">

      <label class="sr-only">Прізвище</label>
      <input name="surname"  value="<%=  surname %>" type="text" class="form-control" placeholder="Прізвище" required="">

      <label class="sr-only">Адреса</label>
      <input name="address" value="<%=  address %>" type="text" class="form-control" placeholder="Адреса" required="">

      <label class="sr-only">Номер Паспорту</label>
      <input name="passport_id" value="<%=  passport_id %>" type="text" class="form-control" placeholder="Номер Паспорту" required="">

      <label class="sr-only">ІНН</label>
      <input name="taxes_card_id" value="<%=  taxes_card_id %>" type="text" class="form-control" placeholder="ІНН" required="">

      <button class="btn btn-lg btn-primary btn-block" type="submit">Зареєструватися</button>
      <p class="mt-5 mb-3 text-muted"><a href="/login">Увійти</a> © 2020</p>
    </form>
</body>
</html>
